* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  list-style: none;
=======
>>>>>>> 2f57dabe25f76a3c448a0b85e27f424bde2d4f11
 }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  font-family: Helvetica;
}

 /* navigation bar */
.nav {
  display:flex;
  align-items:center;
  top:0;
  left:0;
  width:100%;
  height: 132px;
  background-color:#444AE1;
  padding:0 25px;
  z-index: 2;
}

.nav__links {
  display: inline-block;
}

.link,
.link:active,
.link:visited,
.link:link {
  color: black;
  font-family: 'TAN- Tangkiwood';
  text-decoration: none;
  font-size: 40px;
  padding-right: 25px;
}

/* Kay Wasil */
.name {
margin-left: auto;
font-family: 'TAN- Tangkiwood';
font-size: 96px;
font-weight:100;
color: #76E144;
}

.main {
  display: flex;
  height: 75%;
  align-items:center;
  justify-content:center;
}

.test{
<<<<<<< HEAD
  border:solid 5px;
=======
  border:solid purple;
>>>>>>> 2f57dabe25f76a3c448a0b85e27f424bde2d4f11
  width:100px;
  height: 100px;
}

.main__text {
  margin:25px;
  width:40%;
  font-family: 'Helvetica';
  font-weight: 200;
  font-size: 14px;
  line-height: 143.5%;  
  color: #FFFFFF;

}

.imgPortrait {
  width:300px;
  height: 462px:
}

.gallery{
  display:flex;
<<<<<<< HEAD
  justify-content: center;
  width: 100%;
}

/* ul{
  border: solid red;
  display:flex;
  flex-wrap:wrap;
   justify-content: center;
  height: 70vh;
} */

.line{
  border: solid green;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  /*change this number to control line height/images per line*/
=======
  /* border:solid black; */
  width: 100%;
  /* height: 1000px; */
}

.line{
  display:flex;
  flex-wrap: wrap; 
  /*change this nukmber to control line height/images per line*/
>>>>>>> 2f57dabe25f76a3c448a0b85e27f424bde2d4f11
  height: 70vh;
}

.img{
<<<<<<< HEAD
border: solid white;
/* flex-wrap: wrap;  */
padding:10px;
max-height: 100%;
object-fit: contain;
}

.imgWrap{
  border: solid purple;
  max-height: 100%;
  /* flex:1; */
  /* better way to control size???? */
  /* max-width: 500px; */
  }
  .imgWrap a{
    display:block;
  }

/* .a {
  border: solid red;
  flex-wrap: wrap;  
   padding:10px;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  }   */

  .lineBig{
    border: solid blue;
    display:flex;
    flex-wrap: wrap; 
    justify-content: center;
  /*change this number to control line height/images per line*/
  height: 85vh;
  }

  .projectText{
    flex-wrap: wrap; 
    padding:10px;
    width: 100px;
    /* margin:25px; */
    /* width:40%; */
    font-family: 'Helvetica';
    font-weight: 200;
    font-size: 14px;
    line-height: 143.5%;  
    color: #FFFFFF;
  }
=======
padding:10px;
max-height: 100%;
object-fit: contain;
}
>>>>>>> 2f57dabe25f76a3c448a0b85e27f424bde2d4f11
