* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  font-family: Helvetica;
}

 /* navigation bar */
.nav {
  display:flex;
  align-items:center;
  top:0;
  left:0;
  width:100%;
  height: 132px;
  background-color:#444AE1;
  padding:0 25px;
  z-index: 2;
}

.nav__links {
  display: inline-block;
}

.link,
.link:active,
.link:visited,
.link:link {
  color: black;
  font-family: 'TAN- Tangkiwood';
  text-decoration: none;
  font-size: 40px;
  padding-right: 25px;
}

/* Kay Wasil */
.name {
margin-left: auto;
font-family: 'TAN- Tangkiwood';
font-size: 96px;
font-weight:100;
color: #76E144;
}

.main {
  margin-top: 2rem;
  display: flex;
  height: 600px;
  align-items:center;
}

.main__text {
  margin: 0 50;
  width: 600px;
  height: 349px;
  
  font-family: 'Helvetica';
  font-weight: 200;
  font-size: 14px;
  line-height: 143.5%;

  align-items: center;
  
  color: #FFFFFF;

}

.img {
  display:inline-flex;
  scale: 40%;
}